.btn {
    background-color: white;
    border: none;
    color: #a60014;
    padding: 12px 16px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 20px;
  }
  
  .btn:hover {
    background-color: black;
  }

  .timeline{
    font-weight:bold;
    background-color: white;
    font-family: Georgia;
    border: none;
    color: #a60014;
    padding: 12px 16px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 120px;
    font-size: 13px;
  }
  
  .timeline:hover {
    background-color: black;
  }
  
  .logout{
    font-weight:bold;
    background-color: white;
    font-family: Georgia;
    border: none;
    color: #a60014;
    padding: 11px 15px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 13px;
  }
  
  .logout:hover {
    background-color: black;
  }

 .sysadmn{
    font-weight:bold;
    background-color: white;
    font-family: Georgia;
    border: none;
    color: #a60014;
    padding: 11px 15px;
    cursor: pointer;
    width:10%;
  display: inline-block;
    font-size: 13px;
  }
  
  .sysadmn:hover {
    background-color: black;
  }
.userdetails{
    font-weight:bold;
    background-color: white;
    font-family: Georgia;
    border: none;
    color: #a60014;
    padding: 11px 15px;
    cursor: pointer;
    width:10%;
  display: inline-block;
    font-size: 13px;
  }
  
  .userdetails:hover {
    background-color: black;
  }
.emails{
    font-weight:bold;
    background-color: white;
    font-family: Georgia;
    border: none;
    color: #a60014;
    padding: 11px 15px;
    cursor: pointer;
    width:10%;
  display: inline-block;
    font-size: 13px;
  }
  
  .emails:hover {
    background-color: black;
  }
.eventdetails{
    font-weight:bold;
    background-color: white;
    font-family: Georgia;
    border: none;
    color: #a60014;
    padding: 11px 15px;
    cursor: pointer;
    width:10%;
  display: inline-block;
    font-size: 13px;
  }
  
  .eventdetails:hover {
    background-color: black;
  }
 .controller{
    font-weight:bold;
    background-color: white;
    font-family: Georgia;
    border: none;
    color: #a60014;
    padding: 11px 15px;
    cursor: pointer;
   display: inline-block;
    font-size: 13px;
width:10%;
  }
  
  .controller:hover {
    background-color: black;
  }

 .user{
    font-weight:bold;
    background-color: white;
    font-family: Georgia;
    border: none;
    color: #a60014;
    padding: 11px 15px;
    cursor: pointer;
   display: inline-block;
    font-size: 13px;
width:10%;

  }
  
  .user:hover {
    background-color: black;
  }

.user,.controller,.sysadmn{
display:inline-block;}
  .goBack{
  background-color: white;
      border: none;
      color: #a60014;
      padding: 12px 16px;
      cursor: pointer;
      position: absolute;
      top: 8px;
      left: 80px;
      font-size: 20px;
  }

.goBack:hover {
    background-color: black;
  }
 .delpost{
   
    font-weight:bold;
    background-color: white;
    font-family: Georgia;
    border: none;
    color: #a60014;
    padding: 11px 15px;
    cursor: pointer;  
    font-size: 13px;

  }
  
  .delpost:hover {
    background-color: black;
  }

.delcom{
    font-weight:bold;
    background-color: white;
    font-family: Georgia;
    border: none;
    color: #a60014;
    padding: 11px 15px;
    cursor: pointer;  
    font-size: 13px;
    clear:both;
    float: right;
    margin-top: 30px;
  }
  
  .delcom:hover {
    background-color: black;
  }
.share{
    font-weight:bold;
    background-color: white;
    font-family: Georgia;
    border: none;
    color: #a60014;
    padding: 11px 15px;
    cursor: pointer;
   
    font-size: 13px;


  }

  .image {
		border-radius: 50%;
		float:left; 
		width:50px; 
		height:50px;
    margin-right: 5px;
    margin-bottom: 1px;
	}

  .share:hover {
    background-color: black;
  }
.msg{
 font-weight:bold;
    background-color: white;
    font-family: Georgia;
    border: none;
    color: #a60014;
    padding: 11px 15px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 150px;
    font-size: 13px;
  }
.msg:hover {
    background-color: black;
  }
.pro{
 font-weight:bold;
    background-color: white;
    font-family: Georgia;
    border: none;
    color: #a60014;
    padding: 11px 15px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 220px;
    font-size: 13px;
  }
.pro:hover {
    background-color: black;
  }
.reg{
 font-weight:bold;
    background-color: white;
    font-family: Georgia;
    border: none;
    color: #a60014;
    padding: 11px 15px;
    cursor: pointer;
    position: absolute;
    top: 8px;
    left: 350px;
    font-size: 13px;
  }
.reg:hover {
    background-color: black;
  }
  
  body {
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
    color: black;
    font-family: serif;
    text-align: center;
    background-color: hsla(14, 100%, 53%, 0.6);
  }
  
  h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family:Georgia;
  }
  
  select {
     background-position: center right;
      background-repeat: no-repeat;
      border: 1px solid #AAA;
      border-radius: 2px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      color: #555;
      font-size: 14px;
      font-family: serif;
      margin: 0;
      overflow: hidden;
      padding-top: 5px;
      padding-bottom: 5px;
      text-overflow: ellipsis;
      white-space: nowrap;
  }
  
  
  input {
    background: white;
    color:black;
    font-family: serif;
    font-size: 14px;
    display: block;
    padding: 10px 30px 10px 5px;
    margin: 10px 0 20px;
    border: 2px solid white;
    border-bottom: 2px solid grey;
  }
  
  input:focus {
    outline: 1.5px solid blue;
    border-bottom: 2px solid #66cc99;
  }
  
  .button {
    background-color: #a60014;
    border: 0;
    padding: 15px 40px;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    font-family: serif;
    font-size: 14px;
    text-align:center; 
    position: absolute; 
    right: 6;
  }
  
  .button:hover {
  background-color: black;
  }

  .button2 {
    background-color: white;
    border: 0;
    padding: 0;
    color: #a60014;
  font-weight: bold;
    text-transform: uppercase;
    font-family: serif;
    font-size: 14px;
  }
  
  .button2:hover {
  background-color: black;
  }


table {
background-color: white;
width:100%;
color:solid black;
table-layout:fixed;
}

tr:hover {background-color: #f5f5f5;}
td {
word-wrap:break-word;

 border-bottom: 1px solid #ddd;
 background-color: white
  color: red
}

th {
text-align: left;
color: #a60014;

 border-bottom: 1px solid #ddd;
}
a{
color:#a60014;
font-size:14px;
font-family: serif;
text-align:left;
}


.comment{
  font-weight:bold;
  /*background-color: white;*/
  background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
  background-color: hsla(14, 100%, 53%, 0.2);
  font-family: Georgia;
  border: none;
  color: white;
  padding: 11px 15px;
  font-size: 13px;
  margin-bottom: 5px;
  width:600px;
  height:200px;
  border:1px solid white;
  margin-right: auto !important;
  margin-left: auto !important;
  clear:left;
}

.comment:hover {
  background-color: white;
}

.commentsection {

  margin-right: 5px;

}

#titlecomment {

  text-transform:uppercase !important; 

}

#comments {

  border: 1px solid white;
  width: 500px;
  height: 100px;
  overflow: auto;
  margin-left:auto;
  margin-right: auto;
  text-align: left;
  padding: 2px;

}

.commenttextarea{
  font-weight:bold;
  /*background-color: white;*/
  background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
  background-color: hsla(14, 100%, 53%, 0.2);
  font-family: Georgia;
  border: none;
  color: white;
  padding: 11px 15px;
  font-size: 13px;
  margin-bottom: 5px;
  width:600px;
  height:300px;
  text-transform: uppercase;
  border:1px solid white;
  margin-right: auto !important;
  margin-left: auto !important;
  clear:left;
  margin-left: 50px;
}

.postpost {
  font-weight:bold;
  background-color: white;
  font-family: Georgia;
  border: none;
  color: #a60014;
  text-transform: uppercase !important;
  padding: 11px 15px;
  cursor: pointer;  
  font-size: 13px;
  float: right;
}

.postpost:hover {
  background-color: black;
  }

  .commentstitle {

    color:white;

  }

  .commentbox{
    font-weight:bold;
    /*background-color: white;*/
    background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
    background-color: hsla(14, 100%, 53%, 0.2);
    font-family: Georgia;
    border: none;
    color: white;
    padding: 11px 15px;
    font-size: 13px;
    margin-bottom: 5px;
    width:400px;
    height:200px;
    border:1px solid white;
    margin-right: auto !important;
    margin-left: auto !important;
    clear:left;
    margin-left: 50px;
  }